/* color palette
#131313
#2575dd
#e6522d
 */

:root {
    scroll-behavior: smooth;
  }
  
  body {
    color: #fff;
  }
  
  a {
    color: var(--color-links);
    text-decoration: none;
  }
  
  a:hover {
    color: var(--color-links-hover);
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-primary);
  }
  
  #main {
    margin-top: 70px;
  }

  .container{
    margin: auto;
    display: flex;
    justify-content: center;
  }
  
  /* header -------------------------------------------------*/
  header{
    height: 70px;
    
    display: flex;
    align-items: center;
  }
  .header .logo{
    display: flex;
    align-items: center;
  }
  .header .logo img {
    max-height: 60px;
    margin-right: 6px;
  }
  .header .logo h1 {
    font-size: 30px;
    font-weight: 700;
    color: #2575dd;
    font-family: var(--font-primary);
  }
  .header .logo h1 span {
    color: #1a1a1a;
    font-family: var(--font-primary);
  }
  .htitle {
    color: #1a1a1a;
    font-size: larger;
    font-weight: bold;
  }
  .hbtn {
    background-color: #ffdb12;
    height: 70px;
    width: 200px;
    color: #131313;
    font-size: larger;
    font-weight: bold;
    border-radius: 0%;
  }
  .hbtn:hover {
    background-color: #edbe02;
  }

  /* botbar -------------------------------------------*/

  .footer {
    display: flex;
    align-items: center;
    height: 70px;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .btitle {
    color: #1a1a1a;
    font-size: larger;
    font-weight: bold;
  }

  /*HR ----------------------------------------------------*/

  .customhr{
    color: #204fbd;
    border-bottom: 2px solid;
    
  }

  /*info ----------------------------------------------------*/

  .infocard{
    height: 500px;
    width: 800px;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 2px solid #2575dd;
    background-color: #2575dd;
    border-radius: 50px;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  }
  .infoimg{
    height: 300px;
    width: 300px;
    border: 2px solid #131313;
    border-radius: 150px;
    margin: 0;
  }
  .infotitle{
    color: #1a1a1a;
    font-weight: bold;
  }
  .infospan{
    color: #ffdb12;
    font-weight: bold;
  }
  .infotitle2{
    color: #131313a5;
  }
  .infodet{
    color: #131313a5;
  }

  /*Next --------------------------------------------------*/

  .next{
    display: flex;
    background: #2575dd2a;
    height: auto;
  }

  .next .container{
    display: flex;
    justify-content: center;
  }

  /*Content -----------------------------------------------*/

  .left{
    display: flex;
    justify-content: center;
  }

  .right{
    display: flex;
    justify-content: center;
  }

  /*Login -------------------------------------------------*/

  .login .card{
    background: #131313;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .login .input-group{
    margin: auto;
    margin-bottom: 4px;
    border-color: #2575dd;
  }

  .login .input-group-text{
    background: #2575dd;
    border-color: #2575dd;
  }

  .login .form-control::placeholder{
    color: #131313a5;
    font-weight: 600;
  }

  /*Signup ------------------------------------------------*/

  .signup .card{
    background: #2575dd;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .signup .input-group{
    margin: auto;
    margin-bottom: 4px;
    border-color: #131313;
  }

  .signup .input-group-text{
    background: #131313;
    border-color: #131313;
    color: #ffffff;
  }

  .signup .form-control::placeholder{
    color: #131313a5;
    font-weight: 600;
  }

/*Desktop Navigation---------------------------------------*/
@media (min-width: 1280px) {
  .navbar,
  .botbar {
    padding: 0;
  }

  .navbar ul,
  .botbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navbar li,
  .botbar li {
    position: relative;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: var(--font-default);
    font-size: 16px;
    font-weight: 500;
    color: #1a1a1a;
    white-space: nowrap;
    transition: 0.3s;
  }

  .navbar a i,
  .botbar a i,
  .navbar a:focus i,
  .botbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar a:hover,
  .botbar a:hover,
  .navbar .active,
  .botbar .active,
  .navbar .active:focus,
  .botbar .active:focus,
  .navbar li:hover>a,
  .botbar li:hover>a {
    color: #2575dd;
  }

  .navbar .dropdown ul,
  .botbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background-color: #131313;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 2px;
  }

  .navbar .dropdown ul li {
    min-width: 200px;
  }

  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 400;
  }

  .navbar .dropdown ul a i {
    font-size: 12px;
  }

  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover>a {
    color: #2575dd;
  }

  .navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }

  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }

  .navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }

  .navbar .loginbtn{
    background: #2575dd;
    border-radius: 2px;
    margin-left: 10px;
    color: #131313;
    font-weight: 600;
  }

  .navbar .loginbtn:hover{
    background: #204fbd;
    color: #131313;
  }
}

@media (min-width: 1280px) and (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

.mobile-nav-toggle {
  display: none;
}

/* Mobile Navigation---------------------------------------*/
@media (max-width: 1279px) {
  .navbar {
    padding: 0;
    z-index: 9997;
  }

  .navbar ul {
    display: none;
    position: absolute;
    inset: 55px 15px 15px 15px;
    padding: 10px 0;
    margin: 0;
    border-radius: 10px;
    background-color: #131313;
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-family: var(--font-primary);
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    white-space: nowrap;
    transition: 0.3s;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #2575dd;
  }

  .navbar .dropdown ul,
  .navbar .dropdown .dropdown ul {
    position: static;
    display: none;
    z-index: 99;
    padding: 10px 0;
    margin: 10px 20px;
    background: #131313;
    transition: all 0.5s ease-in-out;
    box-shadow: 0px 0px 30px rgba(var(--color-black-rgb), 0.1);
  }

  .navbar .dropdown>.dropdown-active,
  .navbar .dropdown .dropdown>.dropdown-active {
    display: block;
  }

  .navbar .loginbtn{
    color: #ffffff;
  }

  .navbar .loginbtn:hover{
    color: #2575dd;
  }

  .mobile-nav-toggle {
    display: inline-block;
    color: #2575dd;
    font-size: 28px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
  }

  .mobile-nav-toggle.bi-x {
    color: var(--color-black);
  }

  .mobile-nav-active {
    overflow: hidden;
  }

  .mobile-nav-active .mobile-nav-toggle {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 9999;
    color: #2575dd;
  }

  .mobile-nav-active .navbar {
    position: fixed;
    overflow: hidden;
    inset: 0;
    background: rgba(var(--color-black-rgb), 0.6);
    transition: 0.3s;
  }

  .mobile-nav-active .navbar>ul {
    display: block;
  }
}

/*Texts----------------------------------------------------*/

.title,
.next .title{
  color: #2575dd;
  font-size: 50px;
  font-weight: 600;
  margin: 4px;
}

.title span,
.next .title span{
  color: #131313;
}

.desc,
.next .desc{
  color: #204fbd;
  font-size: 20px;
}

.login .title{
  color: #2575dd;
  font-size: 50px;
  font-weight: 600;
  margin: 4px;
}

.login .title span{
  color: #ffffff;
}

.login .desc{
  color: #204fbd;
  font-size: 20px;
}

.lidesc{
  display: flex;
  justify-content: center;
  color: #ffffff;
}

.lidesc a{
  color: #204fbd;
}

.signup .title{
  color: #131313;
  font-size: 50px;
  font-weight: 600;
  margin: 4px;
}

.signup .title span{
  color: #ffffff;
}

.signup .desc{
  color: #fff;
  font-size: 20px;
}

.sudesc{
  display: flex;
  justify-content: center;
  color: #ffffff;
}

.sudesc a{
  color: #131313;
}

.popuptxt .title{
  color: #2575dd;
  font-size: 50px;
  font-weight: 700;
}

.popuptxt .desc{
  color: #131313;
  text-indent: 30px;
  text-align: justify;
  font-weight: 600;
}

/*Buttons--------------------------------------------------*/

.mainbtn{
  background: #2575dd;
  color: #fff;
  font-weight: 600;
  border-radius: 2px;
  margin: 2px;
}

.mainbtn:hover{
  background: #204fbd;
}

.scroll-up{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #131313;
  color: #fff;
  visibility: hidden;
  position: fixed;
  opacity: 0;
  transition: all 0.4s;
  z-index: 99999;
  right: 15px;
  bottom: 15px;

  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.scroll-up:hover {
  color: #2575dd;
}

.scroll-up.active {
  visibility: visible;
  opacity: 1;
}

.libtn{
  background: #2575dd;
  color: #131313;
}

.libtn:hover{
  background: #204fbd;
}

.subtn{
  background: #131313;
  color: #ffffff;
}

.subtn:hover{
  background: #fff;
  color: #204fbd;
}

/*Images---------------------------------------------------*/
.login .logo{
  height: 200px;
  width: 200px;
}

.signup .logo{
  height: 200px;
  width: 200px;
}

.sidepic{
  width: 500px;
  height: auto;
  margin: 5px;
}

/*Frames---------------------------------------------------*/

.popup{
  border-top: 25px solid #2575dd;
  border-right: 2px solid #2575dd;
  border-left: 2px solid #2575dd;
  border-bottom: 2px solid #2575dd;
  border-radius: 4px;
  background: #fff;
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: start;
}

.popup img{
  max-height: 300px;
  margin: 4px;
}

.popuptxt{
  margin: 0;
}